body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

.card {
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}
